<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title> Everything from MDB </title>
</head>

<body>
<ul>
    {{range .Prod}}
    Product {{.Product}} and Category {{.Category}}
    {{end}}
</ul>
</body>