<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title> List of Some Executives from MDB </title>
</head>

<body>
    <ul>
    {{ range . }}
        <li>{{.}}</li>
    {{end}}
    </ul>            
</body>