<!DOCTYPE html>

<html>
<head>
<title> List of Hotels in India </title>
</head>

<body>
{{range .}}
Hotel Name: {{.Name}} </br> Address: {{.Address}} </br> {{.City}} 
Region is {{.Region}} </br> Pincode is {{.Pincode}}
{{end}}
</body>
</html>